<div class="row">
    <div class="col-lg-5 col-md-5 col-sm-5">
        {{ form_row(form.alternateemail) }}
    </div>    
</div>
<div class="row">    
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.firstnames) }}
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.lastnames) }}
    </div>
</div>
<div class="row">    
    <div class="col-lg-4 col-md-4 col-sm-4">
        {{ form_row(form.address) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        {{ form_row(form.country) }}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        {{ form_row(form.countrycode) }}
    </div>
</div>
<div class="row">    
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.phone) }}
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        {{ form_row(form.save) }}
    </div>
</div>
    