{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}  

    {% form_theme form 'SistemaIRMBundle:Form:form-menu-theme.html.twig' %}
    {{ form(form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
{% endblock %}