{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <div class="form-group">
                            <label class="control-label">Id</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.id }}
                                </span>
                            </div>
                        </div>
                    </div>    
                    <div class="col-lg-5 col-md-5 col-sm-5">    
                        <div class="form-group">
                            <label class="control-label">Uuid</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.uuid }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-sm-2">    
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.description }}
                                </span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Is Deleted?</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.isdeleted ? isActive(false, 'Menu Activo', 'Menu Borrado') : isActive(true, 'Menu Activo', 'Menu Borrado') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Sync Process Time Stamp</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.syncprocesstimestamp }}
                                </span>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="glyphicon glyphicon-cutlery">&nbsp;
                                            Products
                                        </i>                                            
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    {% if entity.products is not empty %}
                                        <div class="row" style="text-align:center;">
                                            <label class="control-label">Name</label>
                                        </div>
                                    
                                        {% for product in entity.products %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        {{ product.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        No tiene Productos
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="glyphicon glyphicon-folder-open">&nbsp;
                                            Folders
                                        </i>                                            
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    {% if entity.folders is not empty %}
                                        <div class="row" style="text-align:center;">
                                            <label class="control-label">Name</label>
                                        </div>
                                    
                                        {% for folder in entity.folders %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        {{ folder.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        No tiene Folders
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}        
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        <i class="glyphicon glyphicon-cutlery">&nbsp;
                                            Businesses
                                        </i>                                            
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    {% if entity.businesses is not empty %}
                                        <div class="row" style="text-align:center;">
                                            <label class="control-label">Name</label>
                                        </div>
                                    
                                        {% for business in entity.businesses %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        {{ business.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12">
                                                <div class="form-control">
                                                    <div>
                                                        No tiene Negocios
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}