{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} of Menu {{ idMenu }}
{% endblock %}

{% block page %}
    <link rel="stylesheet" href="{{ asset('bundles/sistemairm/js/jsTree/themes/default/style.min.css') }}"/>

    <div class="row">
        <div class="col-lg-2">
            {% if filterForm.vars.errors|length > 0 %}
                <div class="alert alert-block alert-danger fade in form-errors">
                    {{ form_errors(filterForm) }}
                </div>
            {% endif %}
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="filters-right">
                <a class="btn btn-success" href="{{ path(config.new) }}">
                    {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
                </a>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                        <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                        <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
                    </ul>
                </div>
                <a id="reset_index_filters" class="btn btn-danger">
                    {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
                </a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#filters">
                    {{ 'views.index.filters'|trans({}, 'MWSimpleAdminCrudBundle') }}
                    <span class="caret"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-12">
            <div id="filters" class="well collapse">
                <div class="form-group">
                    {{ form_start(filterForm) }}
                    {{ form_end(filterForm) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} of Menu {{ idMenu }}</h3>
            </div>
            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Tree" aria-controls="price" role="tab" data-toggle="tab">Tree Folder</a></li>
                    <li role="presentation"><a href="#tabla" aria-controls="modifierPrice" role="tab" data-toggle="tab">All Folder</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Tree">
                        <div class="well">
                            <form id="formBuscarFolderNodo">
                                <div class="row ">
                                    <div class="col-lg-4 col-md-4 col-sm-4"></div> 
                                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                                        <input type="search" class="form-control" id="q" />
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                                        <button type="submit" class="btn btn-small btn-primary">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <button type="button" id="btnTreeFolderNodoCreate" class="btn btn-success btn-sm" ><i class="glyphicon glyphicon-asterisk"></i> Crear</button>
                        <button type="button" id="btnTreeFolderNodoEdit" class="btn btn-warning btn-sm" ><i class="glyphicon glyphicon-pencil"></i> Editar</button>
                        <button type="button" id="btnTreeFolderNodoDelete" class="btn btn-danger btn-sm" ><i class="glyphicon glyphicon-remove"></i> Eliminar</button>
                        <button type="button" id="rename" class="btn btn-success btn-sm" style="visibility:hidden"> RENAME</button>
                        <button type="button" id="move" class="btn btn-success btn-sm" style="visibility:hidden"> MOVE</button>
                        <div id="jstree" style="margin-top:1em; min-height:200px;">

                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tabla">

                        <table class="table table-striped table-bordered table-condensed table-responsive">
                            <thead>
                                <tr>
                                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                                    <th{% if entities.isSorted('a.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Uuid', 'a.uuid') }}</th>
                                    <th{% if entities.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                                    <th{% if entities.isSorted('a.Description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Description', 'a.description') }}</th>
                                    <th{% if entities.isSorted('a.Status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Status', 'a.status') }}</th>
                                    <th{% if entities.isSorted('a.Menu') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Menu', 'a.menu') }}</th>
                                    <th{% if entities.isSorted('a.Parent') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Parent', 'a.parent') }}</th>
                                    <th{% if entities.isSorted('a.Visible') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Visible', 'a.visible') }}</th>
                                    <th{% if entities.isSorted('a.IsDeleted') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'IsDeleted', 'a.isdeleted') }}</th>
                                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entity in entities %}
                                    <tr>
                                        <td>{{ entity.id }}</td>
                                        <td>{{ entity.uuid }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.description }}</td>
                                        <td>{{ entity.status }}</td>
                                        <td>{{ entity.menu }}</td>
                                        <td>{{ entity.parent }}</td>
                                        <td><div id="estado_{{ entity.id }}">{{ entity.visible ? isActive(true, 'Folder Visible', 'Folder Oculto') : isActive(false, 'Folder Visible', 'Folder Oculto') }}</div></td>
                                        <td><div id="estado_{{ entity.id }}">{{ entity.isdeleted ? isActive(false, 'Folder Activo', 'Folder Borrado') : isActive(true, 'Folder Activo', 'Folder Borrado') }}</div></td>
                                        <td>
                                            {% block actions %}
                                                <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                                <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                                            {% endblock %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>    

        </div>
        <div class="col-lg-4 navigation">
            {{ knp_pagination_render(entities) }}
        </div>
    </div>

    <div class="modal fade bs-example-modal-sm" id="modalAlert" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content" >
                <div class="modal-header">
                    <button class="close" aria-label="Close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 id="mySmallModalLabel" class="modal-title">
                        Alerta
                        <a class="anchorjs-link" href="#mySmallModalLabel">
                            <span class="anchorjs-icon"></span>
                        </a>
                    </h4>
                </div>
                <div class="modal-body" id="contenidoAlerta"> 

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/jsTree/jstree.js') }}' ></script>
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/bootstrap-confirmation.min.js') }}' ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $("#reset_index_filters").click(function () {
            $(".reset_submit_filters").trigger("click");
        });
        $(document).ready(function () {
            $("#btnTreeFolderNodoCreate").blur();
            $("#btnTreeFolderNodoCreate").focus();
            var idMenu = idMenu;
            $("#btnTreeFolderNodoEdit").click(function () {
                var ref = $('#jstree').jstree(true),
                        sel = ref.get_selected();
                if (!sel.length) {
                    return false;
                }
                sel = sel[0];
                ref.edit(sel);
            });
            $data = "{{ jstree }}";
            $data = JSON.parse($data.replace(/&quot;/g, '"'));
            $('#jstree').jstree({
                'core': {
                    // llamados permitidos 'create_node', 'rename_node', 'delete_node', 'move_node' o 'copy_node'
                    // en caso de 'rename_node' la posicion esta ligado con el nuevo nombre del nodo
                    "check_callback": function (operation, node, parent, position, more) {
                        // previniendo que muevan cualquier folder hija fuera de root
                        if (operation === "move_node") {
                            if (parent.id === "#") {
                                return false;
                            }
                        }
                        if (operation === 'rename_node') {
                            $("#rename").click();
                            return true;
                        }
                    },
                    'data': $data
                },
                // para agregar más funcionalidad con plugins ver www.jstree.com/plugins/
                "plugins": [
                    "dnd", "state", "types"
                ]
            });

            $(document).on('dnd_stop.vakata', function (e, data) {
                $url = "{{ path('Folders_move_byAjax') }}";
                $dato = $("#jstree").jstree().get_selected(["id"]);
                Submit($url, $dato);
            });

            $("#btnTreeFolderNodoDelete").click(function () {
                
            });
            $('#btnTreeFolderNodoDelete').confirmation({
                title: 'Confirma que desea eliminar?',
                btnOkLabel: 'Si',
                btnCancelLabel: 'No'
            });
            $('#btnTreeFolderNodoDelete').on('confirmed.bs.confirmation', function () {

                var ref = $('#jstree').jstree(true),
                        sel = ref.get_selected();
                if (!sel.length) {
                    return false;
                }
                $url = "{{ path('Folders_deleted_byAjax') }}";
                $dato = $("#jstree").jstree().get_selected(["id"]);
                Submit($url, $dato);
            })

            $("#btnTreeFolderNodoCreate").click(function () {
                
            });
            $('#btnTreeFolderNodoCreate').confirmation({
                title: 'Se va a crear una nueva folder en el lugar seleccionado?',
                btnOkLabel: 'Si',
                btnCancelLabel: 'No'
            });
            $('#btnTreeFolderNodoCreate').on('confirmed.bs.confirmation', function () {
                $url = "{{ path('Folders_create_byAjax') }}";
                $dato = $("#jstree").jstree().get_selected(["id"]);
                Submit($url, $dato);
            })

            $('#rename').confirmation({
                title: 'Confirma guardar cambios en nombre?',
                btnOkLabel: 'Si',
                btnCancelLabel: 'No'
            });
            $('#rename').on('confirmed.bs.confirmation', function () {
                $url = "{{ path('Folders_rename_byAjax') }}";
                $dato = $("#jstree").jstree().get_selected(["id"]);
                Submit($url, $dato);
            })
            $('#rename').on('canceled.bs.confirmation', function () {
                location.href = "{{ path('admin_folders_by_menu', {'id': idMenu}) }}";
            })

            function Submit(url, dato){
                $.ajax({
                    type: "POST",
                    url: url,
                    data: {'jstree': dato},
                    success: function (array) {
                        if (array[0].resultado === true) {
                            new PNotify({
                                title: 'Alerta',
                                text: 'Registros Actualizados',
                                type: 'success',
                                hide: true
                            });
                            location.href = "{{ path('admin_folders_by_menu', {'id': idMenu}) }}";
                        } else {
                            new PNotify({
                                title: 'Alerta',
                                text: 'Error al actualizar registros',
                                type: 'error',
                                hide: true
                            });
                        }
                    },
                    error: function (data) {
                        new PNotify({
                            title: 'Alerta',
                            text: 'Error al actualizar registros',
                            type: 'error',
                            hide: true
                        });
                    }
                });
            }

        });
    </script>
{% endblock %}