{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}  
    {% form_theme form 'SistemaIRMBundle:Form:form-folder-theme.html.twig' %}
    {{ form(form) }}
    {% include 'SistemaIRMBundle:Form:macro-viewEntityImagesNew.html.twig' with {'formEntityImage' : formEntityImage}%}     
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/handlebars-v1.3.0.js') }}'></script> 
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/metodosHandlebar.js') }}'></script>
{% endblock %}