{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <div class="form-group">
                            <label class="control-label">Id</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.id }}
                                </span>
                            </div>
                        </div>
                    </div>    
                    <div class="col-lg-5 col-md-5 col-sm-5">    
                        <div class="form-group">
                            <label class="control-label">Uuid</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.uuid }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Foreign Code</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.foreigncode }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-sm-2">    
                        <div class="form-group">
                            <label class="control-label">Name</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.name }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.description }}
                                </span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Is Visible?</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.visible ? isActive(true, 'Folder Visible', 'Folder Oculta') : isActive(false, 'Folder Visible', 'Folder Oculta') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">allowordering</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.allowordering }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.status }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Custom Ordering</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.customordering }}
                                </span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Is Deleted?</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.isdeleted ? isActive(true, 'Folder Activa', 'Folder Borrada') : isActive(false, 'Folder Activa', 'Folder Borrada') }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Menu</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.menu }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="form-group">
                            <label class="control-label">Products</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Children</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Parent</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.parent }}
                                </span>
                            </div>
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Image</label>
                            {% if entity.image %}
                                <img src="{{ entity.bgImage.getFilePathSource }}" class="img-thumbnail">
                            {% else %}
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        empty
                                    </span>
                                </div>
                            {% endif %} 
                        </div>
                    </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Icon Image</label>
                            {% if entity.iconimagetype %}
                                <img src="{{ entity.bgImage.getFilePathSource }}" class="img-thumbnail">
                            {% else %}
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        empty
                                    </span>
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Icon Image Color</label>
                            {% if entity.iconimagecolor %}
                                <img src="{{ entity.bgImage.getFilePathCropped }}" alt="..." class="img-thumbnail">
                            {% else %}
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        empty
                                    </span>
                                </div>
                            {% endif %}
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}