{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/sistemairm/css/pnotify.custom.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}
	<script src="{{ asset('bundles/app/js/jquery.js') }}"></script>
	<script src="{{ asset('bundles/app/js/bootstrap.js') }}"></script>
{% endblock %}