{% block sistema_irmbundle_menus_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">    
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.name) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.description) }}
        </div>
    </div>
    <br>   
    <div class="row">        
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.deleted) }}
        </div>
    </div>
    <br>
    <div class="row">    
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.businesses) }}
        </div>
        {% if form.vars.value.id %}
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            <label class="control-label" for="">Categorias</label>
            <br/>
            <a class="form-control btn btn-info" href="{{ path('admin_folders_by_menu', {'id': form.vars.value.id }) }}">
                Ver Categorias
            </a>
        </div>
        {% endif %}
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
{% endblock %}