{% block sistema_irmbundle_orders_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">    
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.deviceuuid) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.note) }}
        </div>
    </div>
    <br>   
    <div class="row">        
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            <div class="form-group ">
                <label class="control-label" for="">Is Deleted</label>
                <br/>
                <input type="checkbox" id="menu_isDeleted" name="order_isDeleted" value="1">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.deliverydate) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.amount) }}
        </div>
    </div>
    <div class="row">    
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.taxname) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.taxvalue) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.table) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.guestsquantity) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.status) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {% include 'SistemaIRMBundle:Widget:form_fields_AddOrderItems.html.twig' with { 'form' : form } %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
{% endblock %}