{% block sistema_irmbundle_businesses_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                        <h4 class="list-group-item-heading">Datos Principales</h4>
                        <p class="list-group-item-text">Datos requeridos</p>
                    </a></li>
                <li class="disabled"><a href="#step-2">
                        <h4 class="list-group-item-heading">Imagenes</h4>
                        <p class="list-group-item-text">Imagenes del negocio</p>
                    </a></li>
                <li class="disabled"><a href="#step-3">
                        <h4 class="list-group-item-heading">Datos opcionales</h4>
                        <p class="list-group-item-text">Datos descriptivos del negocio</p>
                    </a></li>
            </ul>
        </div>
    </div>
    <div class="row setup-content" id="step-1">
        <div class="col-xs-12">
            <div class="col-md-12 well text-center">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                        {{ form_row(form.name) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                        {{ form_row(form.fancyname) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                        {{ form_row(form.type) }}
                    </div>    
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12"> 
                        {{ form_row(form.description) }}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2"> 
                        {{ form_row(form.postalcode) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                        {{ form_row(form.country) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4"> 
                        {{ form_row(form.state) }}
                    </div>    
                    <div class="col-lg-2 col-md-2 col-sm-2"> 
                        {{ form_row(form.city) }}
                    </div>  
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_row(form.address) }}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_row(form.lat) }}
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_row(form.lng) }}
                    </div>  
                    <div class="col-lg-3 col-md-3 col-sm-3"> 
                        {{ form_row(form.website) }}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{ form_row(form.contactemail) }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        {{ form_row(form.notifemail) }}
                    </div> 
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        {{ form_row(form.mainphone) }}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        {{ form_row(form.supportphone) }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2"> 
                        {{ form_row(form.publico) }}
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2"> 
                        {{ form_row(form.deleted) }}
                    </div>
                </div>
                <button id="activate-step-2" class="btn btn-primary btn-lg">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-2">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddEntityImage.html.twig' with { 'form' : form } %}
                <button id="activate-step-3" class="btn btn-primary btn-lg">Siguiente</button>
            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12 well">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddBusinessParam.html.twig' with { 'form' : form.businessParam } %}
            </div>
        </div>
    </div>    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {% include 'SistemaIRMBundle:Form:macro-viewEntityImages-select.html.twig'%}  
{% endblock %}