{% block sistema_irmbundle_folders_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}

    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.foreignCode) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.name) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.status) }}
        </div>    
    </div>
    <br>
    <div class="row">       
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.parent) }}
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6"> 
            {{ form_row(form.visible) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.description) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            <div class="form-group ">
                <label class="control-label" for="">Allowordering</label>
                <br/>
                <input type="checkbox" id="folder_allowordering" name="folder_allowordering" value="1">
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.customordering) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.isdeleted) }}
        </div>
    </div>
    <div class="row">
        {% include 'SistemaIRMBundle:Widget:form_fields_AddEntityImage.html.twig' with { 'form' : form } %}
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {% include 'SistemaIRMBundle:Form:macro-viewEntityImages-select.html.twig' %} 
{% endblock %}