{% block sistema_irmbundle_products_widget %}
    {% form_theme form 'MWSimpleAdminCrudBundle:widget:fields.html.twig' %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.foreignCode) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4"> 
            {{ form_row(form.name) }}
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3">
            {{ form_row(form.allowOrdening) }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            {{ form_row(form.status) }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            {{ form_row(form.code) }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            {{ form_row(form.visible) }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            {{ form_row(form.deleted) }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
            {{ form_row(form.description) }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ form_row(form.tags) }}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"> 
            {{ form_row(form.folder) }}
        </div>
    </div>

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Price</a></li>
            <li role="presentation"><a href="#modifierPrice" aria-controls="modifierPrice" role="tab" data-toggle="tab">Modifier Price</a></li>
            <li role="presentation"><a href="#entityImage" aria-controls="entityImage" role="tab" data-toggle="tab">Imagen</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="price">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddPrice.html.twig' with { 'form' : form } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="modifierPrice">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddModifierPrice.html.twig' with { 'form' : form } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="entityImage">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddEntityImage.html.twig' with { 'form' : form } %}
            </div>
        </div>
    </div>      
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            {{ form_row(form.save) }}
            {{ form_row(form.saveAndAdd) }}
        </div>
    </div>
    {% include 'SistemaIRMBundle:Form:macro-viewEntityImages-select.html.twig' %} 
{% endblock %}