{% macro prototipoTax(entity) %}
    <div class="row-container rowremove">   
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.name) }}    
                {{ form_errors(entity.name) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.value) }}
                {{ form_errors(entity.value) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.isDefault) }}
                {{ form_errors(entity.isDefault) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="delete_tax btn btn-mini btn-danger" href="javascript:;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>    
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}
