{% macro prototipoPrice(entity) %}
    <div class="row-container rowremove">   
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(entity.name) }}    
                {{ form_errors(entity.name) }}   
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(entity.amount) }}
                {{ form_errors(entity.amount) }}  
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a class="delete_price btn btn-mini btn-danger" href="javascript:;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}

{% macro prototipoPriceShow(entity) %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            {{ entity.name }}    
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 text-center">
            {{ entity.amount }}
        </div>
    </div>
{% endmacro %}

{% macro prototipoModifierPrice(entity) %}
    <div class="row-container rowremove">   
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(entity.name) }}    
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_widget(entity.amount) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <a class="delete_modifierPrice btn btn-mini btn-danger" href="javascript:;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}