{% macro prototipoOrderItem(entity,key) %}
    {% if key is null %}
        {% set idOrderItem = "__name__" %}
    {% else %}
        {% set idOrderItem = key %}
        <script type="text/javascript">
            addUl({{ idOrderItem }}, "Seleccione Orden Item", 1);
        </script>
    {% endif %}
    <div class="rowremove tab-pane {%if idOrderItem== 0 or idOrderItem== "__name__"%}active{%endif%}" id="orderItems_{{ idOrderItem }}" li="orderItems-li-{{idOrderItem}}">  
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(entity.quantity) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(entity.tags) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(entity.status) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(entity.amount) }}
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                {{ form_row(entity.isdeleted) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                {{ form_row(entity.note) }}
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <br/>
                <a id="orderItems_remove_{{ idOrderItem }}" class='btnRemoveOrderItems btn btn-sm btn-danger' href='javascript:;'>
                    <i class='glyphicon glyphicon-trash'></i>
                </a>
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddItemModifier.html.twig' with { 'form' : entity,'idOrderItem': idOrderItem , 'show': false } %}
            </div>
        </div>
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}

{% macro prototipoOrderItemShow(entity) %}   
    <div class="rowremove tab-pane ">  
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">quantity</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.quantity }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">tags</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.tags }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">status</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.status }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="control-label">amount</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.amount }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label">note</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.note }}
                        </span>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                {% include 'SistemaIRMBundle:Widget:form_fields_AddItemModifier.html.twig' with { 'form' : entity,'idOrderItem': 0, 'show':true } %}
            </div>
        </div>
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}