<style type="text/css">
    .modal-body {
        max-height:300px;
        overflow:auto;
    }
</style>
<div class="modal fade bs-example-modal-lg" id= "modalEntityImagesSelect"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Seleccionar Entity Images</h4>
            </div>
            <div class="modal-body">
                <div class="row" >
                    <div class="col-lg-4 col-md-4 col-xs-4 ">
                        <label>Cropped</label>  
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                        <label>Source</label>
                    </div>
                    <div class="col-lg-2 col-md-2 col-xs-2 ">
                        <label>Seleccionar</label>
                    </div>
                </div>
                <div class="row" id="contenidoSelectListEntityImage">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnEntityImagenSelected">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--codigo para copilar Modal-->
<script id="hbSelectEntityImages" type="text/x-handlebars-template">
    {% verbatim  %}
        {{#each this}}
        <div class="col-lg-4 col-md-4 col-xs-4 ">
        <img src={{pathCropped}} class="img-rounded" id="imageCroppedselecction{{id}}" style=" width: 70%;"> 
        </div>
        <div class="col-lg-6 col-md-6 col-xs-6 ">
        <img src={{pathSource}} class="img-rounded" id="imageSourceselecction{{id}}" style=" width: 70%;">
        </div>
        <div class="col-lg-2 col-md-2 col-xs-2 ">
        <div class="radio">
        <label>
        <input type="radio" name="opcionesEntityImages" value={{id}}>
        </label>
        </div>
        </div>
        {{/each }} 
    {% endverbatim  %}
</script>
<script type="text/javascript">
    var arrayImg;
    $("#btnSelectImagen").click(function () {
        cargarImagenEntitySelected();
    });
    function cargarImagenEntitySelected() {
        if (typeof ($usuario) === "undefined") {
            $usuario = null;
        }
        $.ajax({
            type: "POST",
            url: "{{ path('admin_entityimages_getallEntityimages_ajax') }}",
            data: {'usuario': $usuario},
            success: function (array) {
                var img_default = "{{ asset('bundles/sistemairm/img/img_default.png') }}";
                for (i = 0; i < array.length; i++) {
                    if (array[i]["pathSource"] === null) {
                        array[i]["pathSource"] = img_default;
                    } else {
                        array[i]["pathSource"] = "{{ asset('') }}" + array[i]["pathSource"];
                    }
                    if (array[i]["pathCropped"] === null) {
                        array[i]["pathCropped"] = img_default;
                    } else {
                        array[i]["pathCropped"] = "{{ asset('') }}" + array[i]["pathCropped"];
                    }

                }

                arrayImg = array;
                fuente = $('#hbSelectEntityImages').html();
                plantilla = Handlebars.compile(fuente);
                html = plantilla(array);
                $("#contenidoSelectListEntityImage").html(html);
                $("#modalEntityImagesSelect").modal('show');
            },
            error: function (data) {
                mensajePNotify("Alerta", 'No se puedo obtener el listado de imagenes', "error");
            }
        });
    }
</script>