{% macro prototipoItemModifier(entity,idOrderItem) %}
    <div class="row-container rowremove">   
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.name) }}    
                {{ form_errors(entity.name) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.amount) }}
                {{ form_errors(entity.amount) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_widget(entity.quality) }}
                {{ form_errors(entity.quality) }}   
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <a class="delete_itemModifier_{{ idOrderItem}} btn btn-mini btn-danger" href="javascript:;">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>
        </div>    
        <hr style="color: #0056b2;" />
    </div>
{% endmacro %}

{% macro prototipoItemModifierShow(entity) %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ entity.name }}    
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ entity.amount }}
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            {{ entity.quality }}
        </div>

    </div>    
{% endmacro %}