<div class="modal fade bs-example-modal-lg" id= "modalEntityImages"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Entity Images</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                        <label>Cropped</label> </br> 
                        <img id="imgCropped" src="..." class="img-rounded"> 
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                        <label>Source</label></br>
                        <img id="imgSource" src="..." class="img-rounded">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnVerImagen").click(function () {
        var entityImage = $("#s2id_select2_sistema_irmbundle_products_image").select2('val');
        $.ajax({
            type: "POST",
            url: "{{ path('admin_entityimages_getById_ajax') }}",
            data: {'entityImage': entityImage},
            success: function (array) {
                $("#imgCropped").html();
                $("#imgSource").html();
            },
            error: function (data) {

            }
        });
        $("#modalEntityImages").modal('show');
    });
</script>