<div class="modal fade bs-example-modal-lg" id= "modalEntityImagesNew"tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Nueva Imagen</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-4 ">     
                        <label>Imagen Cropped</label><br>
                        <canvas id="canvasCropped" width="400"  height="368"  name="pruebafile" style=" width: 70%;"></canvas>
                        <input id="fileUploadCropped" type="file" >
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                        <label>Imagen Source</label><br>
                        <canvas id="canvasSource" width="400"  height="368" name="pruebafile" style=" width: 70%;"></canvas>
                        <input id="fileUploadSource" type="file" >
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnEnviarFormularioEntityImagen">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var imagenCropped;
    var imagenSource;
    $('#modalEntityImagesNew').on('show.bs.modal', function () {
        $(this).find('.modal-body').css({
            width: 'auto', //probably not needed
            height: 'auto', //probably not needed 
            'max-height': '100%'
        });
    });
    $("#btnNewEntityImage").click(function () {

        $("#modalEntityImagesNew").modal('show');
        limpiarModal();
    });
    $("#fileUploadCropped").change(function (event) {
        var files = event.target.files;
        // Obtenemos la imagen del campo "file".
        for (var i = 0, f; f = files[i]; i++) {
            //Solo admitimos imágenes.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            reader.onload = (function (theFile) {
                return function (e) {
                    // Insertamos la imagen
                    var img = new Image();
                    var canvas2 = $('#canvasCropped');
                    cxt2 = canvas2[0].getContext('2d');
                    cxt2.clearRect(0, 0, 400, 368);
                    img.onload = function () {
                        cxt2.drawImage(img, 10, 10, 400, 368);
                    }
                    img.src = e.target.result;
                    imagenCropped = e.target.result;
                };
            })(f);

            reader.readAsDataURL(f);
        }
    });
    $("#fileUploadSource").change(function (event) {
        var files = event.target.files;
        // Obtenemos la imagen del campo "file".
        for (var i = 0, f; f = files[i]; i++) {
            //Solo admitimos imágenes.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            reader.onload = (function (theFile) {
                return function (e) {
                    // Insertamos la imagen
                    var img = new Image();
                    var canvas2 = $('#canvasSource');
                    cxt2 = canvas2[0].getContext('2d');
                    cxt2.clearRect(0, 0, 400, 368);
                    img.onload = function () {
                        cxt2.drawImage(img, 10, 10, 400, 368);
                    }
                    img.src = e.target.result;
                    imagenSource = e.target.result;
                };
            })(f);

            reader.readAsDataURL(f);
        }
    });
    $("#btnEnviarFormularioEntityImagen").click(function () {
        var usuario = null;
    {%if usuario is defined %}
                        usuario ={{usuario}} ;
    {%endif%}
                                $(".btnEnviarFormularioEntityImagen").attr('disabled', true);
                        $.ajax({
                            type: "POST",
                            url: '{{path('admin_entityimages_post_ajax')}}',
                            data: {'imagenCropped': imagenCropped, 'imagenSource': imagenSource, 'usuario': usuario},
                            success: function (array) {
                                if (array[0].resultado === true) {
                                    new PNotify({
                                        title: 'Alerta',
                                        text: 'Imagenes Cargadas',
                                        type: 'success',
                                        hide: true
                                    });
                                    $('#modalEntityImagesNew').modal('toggle');
                                    limpiarModal();
                                } else {
                                    new PNotify({
                                        title: 'Alerta',
                                        text: 'Error al Cargar Imagenes',
                                        type: 'error',
                                        hide: true
                                    });
                                }
                                $(".btnEnviarFormularioEntityImagen").attr('disabled', false);
                            },
                            error: function (data) {
                                new PNotify({
                                    title: 'Alerta',
                                    text: 'Error al Cargar Images',
                                    type: 'error',
                                    hide: true
                                });
                                $(".btnEnviarFormularioEntityImagen").attr('disabled', false);
                            }
                        });
                    });
                    function limpiarModal() {
                        var myCanvas1 = document.getElementById("canvasCropped");
                        var ctx3 = myCanvas1.getContext('2d');
                        ctx3.clearRect(0, 0, myCanvas1.width, myCanvas1.height);
                        var myCanvas2 = document.getElementById("canvasSource");
                        var ctx4 = myCanvas2.getContext('2d');
                        ctx4.clearRect(0, 0, myCanvas2.width, myCanvas2.height);
                        $("#fileUploadCropped").val('');
                        $("#fileUploadSource").val('');
                    }
</script>