{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="col-lg-1 col-md-1 col-sm-1">
                        <div class="form-group">
                            <label class="control-label">Id</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.id }}
                                </span>
                            </div>
                        </div>
                    </div>    
                    <div class="col-lg-5 col-md-5 col-sm-5">    
                        <div class="form-group">
                            <label class="control-label">Fecha Entrega</label>
                            <div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.fechaentrega|date("d/m/Y") }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}