<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}Free Responsive Admin Theme - ZONTAL{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/style.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/app/css/font-awesome.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <!-- HEADER -->
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Email: </strong>info@yourdomain.com
                        &nbsp;&nbsp;
                        <strong>Support: </strong>+90-897-678-44
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER END -->

        <!-- LOGO HEADER RESPONSIVE -->
        <div class="navbar navbar-inverse set-radius-zero">
            <div class="container">
                {% block header %}{% endblock %}
            </div>
        </div>
        <!-- LOGO HEADER END -->

        <!-- MENU SECTION -->
        <section class="menu-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="navbar-collapse collapse ">
                            <ul id="menu-top" class="nav navbar-nav navbar-right">
                                <!-- menu activo -->
                                {#<li><a class="menu-top-active" href="#">Menu 1</a></li>#}
                                <li><a href="{{ path('homepage') }}">Homepage</a></li>
                                {% if app.user %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li><a href="{{ path('mws_admin_crud_menu') }}"><i class="glyphicon glyphicon-cog"></i> Administracion</a></li>
                                        <li><a href="{{ path('user_info') }}"><i class="glyphicon glyphicon-edit"></i> UserInfo</a></li>
                                        <li><a href="{{ path('user_orders') }}"><i class="glyphicon glyphicon-list"></i> Pedidos</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i> LogOut</a></li>
                                    {% else %}
                                        <li><a href="{{ path('user_info') }}"><i class="glyphicon glyphicon-edit"></i> UserInfo</a></li>
                                        <li><a href="{{ path('user_orders') }}"><i class="glyphicon glyphicon-list"></i> Pedidos</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i> LogOut</a></li>
                                    {% endif %}    
                                {% else %}
                                    <li><a href="{{ path('fos_user_registration_register') }}"><i class="glyphicon glyphicon-user"></i> Registrate</a></li>
                                    <li><a href="{{ path('fos_user_security_login') }}"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- MENU SECTION END-->

        <!-- CONTENT-WRAPPER SECTION -->
        <div class="content-wrapper">
            <div class="col-md-3" id="pedidos">
            </div>
            {% block body %}{% endblock %}
        </div>
        <!-- CONTENT-WRAPPER SECTION END -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        &copy; 2015 YourCompany | By : <a href="http://www.designbootstrap.com/" target="_blank">DesignBootstrap</a>
                    </div>

                </div>
            </div>
        </footer>
    <!-- FOOTER SECTION END-->

    {% block javascripts %}{% endblock %}

    </body>
</html>
