{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{#% block page %}
	{{ parent() }}
	<a class="btn btn-info likepaginator" href="{{ path('superadmin_role_router_debug') }}">
	    Rutas
	</a>
{% endblock page %#}