{% import "SistemaIRMBundle:Form:macro-tax.html.twig" as macrosTax %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <a id="nuevoTax" class="btn btn-default">
                <i class="fa fa-plus">&nbsp;
                    Agregar Tax
                </i>
            </a>
        </h4>
    </div>

    <div class="panel-body">
        <div class="row" style="text-align:center;">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Nombre</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Valor</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Por Defecto</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div data-prototype="{{ macrosTax.prototipoTax(form.taxs.vars.prototype)|e }}" class="taxs">
                    <div>
                        {% for tax in form.taxs %}
                            {{ macrosTax.prototipoTax(tax) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Get the ul that holds the collection
    var $collectionTax;
// setup an "add a tag" link
    var $addItemTaxLink = $('<a href="javascript:;" class="add_tax_link btn btn-primary"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-folder-open "></i></a>');
    var $newItemTaxLinkLi = $('<div></div>');

    jQuery(document).ready(function () {
        // Get the ul that holds the collection of tags
        $collectionTax = $('.taxs');
        // add the "add a tag" anchor and li to the tags ul

        $collectionTax.append($newItemTaxLinkLi);
        $collectionTax.append($addItemTaxLink);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionTax.data('index', $collectionTax.find(':input').length);
        $("#nuevoTax").on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addForm($collectionTax, $newItemTaxLinkLi);

            $('html, body').stop().animate({
                scrollTop: $($newItemTaxLinkLi).offset().top
            }, 1000);
        });
        $addItemTaxLink.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addForm($collectionTax, $newItemTaxLinkLi);
        });
        $collectionTax.delegate('.delete_tax', 'click', function (e) {
            // prevent the link from creating a "#" on  the URL
            e.preventDefault();
            // remove the li for the tag form
            jQuery(this).closest('.rowremove').remove();
        });
    });
</script>
