{% import "SistemaIRMBundle:Form:macro-itemModifier.html.twig" as macrosItemModifier %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            {% if show == false %}
                <a id="nuevoItemModifier_{{idOrderItem}}" class="btn btn-default">
                    <i class="fa fa-plus">&nbsp;
                        Agregar Item Modifier
                    </i>
                </a>
            {% else %}
                <h4>Item Modifier</h4>
            {% endif %}
        </h4>
    </div>

    <div class="panel-body">
        <div class="row" style="text-align:center;">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Nombre</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>Amount</label>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label>quality</label>
            </div>
        </div>
        {% if show == false %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div data-prototype="{{ macrosItemModifier.prototipoItemModifier(form.itemModifiers.vars.prototype,idOrderItem)|e }}" class="itemModifier_{{idOrderItem}}">
                        <div>
                            {% for itemModifier in form.itemModifiers %}
                                {{ macrosItemModifier.prototipoItemModifier(itemModifier,idOrderItem) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="list-group">
                        {% for itemModifier in form.itemModifiers %}
                            <li class="list-group-item">
                                {{ macrosItemModifier.prototipoItemModifierShow(itemModifier) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<script type="text/javascript">
    // Get the ul that holds the collection
    var $collectionItemModifier;
// setup an "add a tag" link
    var $addItemModifier{{idOrderItem}}Link = $('<a href="javascript:;" class="add_itemModifier_{{idOrderItem}}_link btn btn-primary"><i class="glyphicon glyphicon-plus"></i><i class="glyphicon glyphicon-folder-open "></i></a>');
    var $newItemModifier{{idOrderItem}}LinkLi = $('<div></div>');

    jQuery(document).ready(function () {
        // Get the ul that holds the collection of tags
        $collectionItemModifier = $('.itemModifier_{{idOrderItem}}');
        // add the "add a tag" anchor and li to the tags ul

        $collectionItemModifier.append($newItemModifier{{idOrderItem}}LinkLi);
        $collectionItemModifier.append($addItemModifier{{idOrderItem}}Link);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionItemModifier.data('index', $collectionItemModifier.find(':input').length);
        $("#nuevoItemModifier_{{idOrderItem}}").on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addForm($collectionItemModifier, $newItemModifier{{idOrderItem}}LinkLi);

            $('html, body').stop().animate({
                scrollTop: $($newItemModifier{{idOrderItem}}LinkLi).offset().top
            }, 1000);
        });
        $addItemModifier{{idOrderItem}}Link.on('click', function (e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addForm($collectionItemModifier, $newItemModifier{{idOrderItem}}LinkLi);
        });
        $collectionItemModifier.delegate('.delete_itemModifier_{{idOrderItem}}', 'click', function (e) {
            // prevent the link from creating a "#" on  the URL
            e.preventDefault();
            // remove the li for the tag form
            jQuery(this).closest('.rowremove').remove();
        });
    });
</script>
