{% import "SistemaIRMBundle:Form:macro-price.html.twig" as macrosPrice %}

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <a id="nuevoPrice" class="btn btn-default">
                <i class="fa fa-plus">&nbsp;
                    Agregar Price
                </i>
            </a>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row" style="text-align:center;">
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>Nombre</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <label>Amount</label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div data-prototype="{{ macrosPrice.prototipoPrice(form.prices.vars.prototype)|e }}" class="price">
                    <div>
                        {% for price in form.prices %}
                            {{ macrosPrice.prototipoPrice(price) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemairm/js/price.js') }}"></script>