<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            Parametros
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.currencySimbol)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.applyTax)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketFreeTextFooter)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showTax)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.catalogNameToShow)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.colorTheme)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.catalogLayout)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showSplashBusinessDescription)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showCategoryIcon)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showSplahBusinessIcon)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showCategoryDescription)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showSubCategoryIcon)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showSubCategoryDescription)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ordeningOfCategories)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ordeningOfSubCategories)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.orderingOfItems)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.typeViewOfItemsOfStandardView)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.rowsOfItemsPerCategory)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.decimalSeparator)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.decimalDigits)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.thousandsSeparator)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showPricesPrivateProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showPricePublicProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.workflowForTakingOrdersPublicProfile)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.workflowForTakingOrdersPrivateProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowTakingOrdersByGuestsPrivateProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowTakingOrdersByGuestPublicProfile)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowEnteringGuestIdentifierPrivateProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowEnteringGuestIdentifierPublicProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowEnteringDeliveryDatePrivateProfile)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.allowEnteringDeliveryDatePublicProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showWhereAreWeShortcutPrivateProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showInformationShortcutPrivateProfile)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showWhereAreWeShorcutPublicProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.showInformationShorcutPublicProfile)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.dateFormat)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.timeZoneId)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketShowBusinessIcon)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketShowBusinessAddress)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketShowBusinessMainPhone)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketShowBusinessContactEmail)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketShowFreeTextHeader)}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticketFreeTextHeader)}}
            </div>
            <div class="col-lg-4 col-md-4 col-xs-4 ">
                {{form_row(form.ticcketShowFreeTextFooter)}}
            </div>
        </div>

        {% include 'SistemaIRMBundle:Widget:form_fields_AddTax.html.twig' with { 'form' : form } %}
    </div>
</div>
