<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <button type="button" class="btn btn-sm btn-info" id="btnSelectImagen" data-toggle="tooltip"  title="Seleccionar Imagen"><i class="glyphicon glyphicon-picture"></i></button>
            <button type="button" class="btn btn-sm btn-success" id="btnNewEntityImage" data-toggle="tooltip"  title="Subir Imagen"><i class="glyphicon glyphicon-open"></i></button>
        </h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-6 ">
                <input type= "hidden" id="imagenItem" name="imagenItem">
                <label>Cropped</label> </br> 
                {% if form.vars.value.bgImage.filePathCropped is defined %}
                    <img id="imgCropped" src="{{ asset(form.vars.value.bgImage.getWebPathCropped) }}" class="img-rounded" style=" width: 70%;"> 
                {%elseif form.vars.value.image.filePathCropped is defined  %}
                    <img id="imgCropped" src="{{ asset(form.vars.value.image.getWebPathCropped) }}" class="img-rounded" style=" width: 70%;"> 
                {% else %}   
                    <img id="imgCropped" src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;"> 
                {% endif %}        
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 ">
                <label>Source</label></br>
                {% if form.vars.value.bgImage.filePathCropped is defined %}
                    <img id="imgCropped" src="{{ asset(form.vars.value.bgImage.getWebPathCropped) }}" class="img-rounded" style=" width: 70%;"> 
                {%elseif form.vars.value.image.filePathSource is defined %}
                    <img id="imgSource" src="{{ asset(form.vars.value.image.getWebPathSource) }}" class="img-rounded" style=" width: 70%;">
                {% else %} 
                    <img id="imgSource" src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;">
                {% endif %} 
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnEntityImagenSelected").click(function () {
            //guardo para enviar por formulario la imagen seleccionada
            var imgSeleccionado = parseInt($('input[name=opcionesEntityImages]:checked').val());
            $("#imagenItem").val(imgSeleccionado);
            //view images
            for (i = 0; i < arrayImg.length; i++) {
                if (imgSeleccionado === arrayImg[i]['id']) {
                    console.log(arrayImg[i]['pathSource'])
                    $("#imgSource").attr("src", arrayImg[i]['pathSource']);
                    $("#imgCropped").attr("src", arrayImg[i]['pathCropped']);
                }
            }
            $('#modalEntityImagesSelect').modal('toggle');
        });
    });

</script>