{% import "SistemaIRMBundle:Form:macro-orderItems.html.twig" as macrosOrderItems %}
<script src="{{ asset('bundles/sistemairm/js/orderItemsAddUl.js') }}"></script>


<div class="panel panel-default">
    <div class="panel-heading">
        <h4>
            <div class="ribon_dom">
                <button type="button" class='add_OrderItems_link btn btn-default'>Agregar Order Items</button>
            </div>
        </h4>
    </div>
    <div class="panel-body">
        <div id="tabs-container">
            <ul class="nav nav-tabs orderItemsTabs-ul"></ul>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div data-prototype="{{ macrosOrderItems.prototipoOrderItem(form.orderItems.vars.prototype)|e }}" class="orderItems tab-content">
                        {% for key,orderItem in form.orderItems %}
                            {{ macrosOrderItems.prototipoOrderItem(orderItem,key) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ asset('bundles/sistemairm/js/orderItems.js') }}"></script>
