{% extends 'MWSimpleAdminCrudBundle:Default:index.html.twig' %}

{% block page %}  
    <div class="panel panel-primary">
        <div class="panel-heading"> Asignar Usuario </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6"> 
                    <div class="col-lg-10 col-md-10 col-sm-10"> 
                        <div class="form-group ">
                            <label class="control-label" for="">Buscar Usuarios</label>
                            <br/>
                            <input type="hidden" id="selectBuscarUsuarios">
                        </div>
                    </div>  
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <br>
                        <button id="btnAsignar" class="btn btn-success">
                            Asignar
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        </button>
                    </div> 
                </div> 
                <div class="col-lg-6 col-md-6 col-sm-6"> 
                    <div class="notice-board">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Lista de Usuarios
                            </div>
                            <div class="panel-body">
                                <ul id="listaUsuario">
                                    {% if users|length == 0 %}
                                        <li><p class="alert alert-warning">Ningun usuario asignado</p> </li>
                                        {% else %}

                                        {% for entity in users %}
                                            <li>
                                                {{entity.text}}
                                                <a href="javascript:;" onclick="removerUsuario({{entity.id}})">
                                                    <span class="glyphicon glyphicon-remove">  </span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--codigo para copilar Modal-->
    <script id="hbListaUsuarios" type="text/x-handlebars-template">
        {% verbatim  %}
            {{#each this}}
            <li>
            {{text}}
            <a href="javascript:;" onclick="removerUsuario({{id}})">
            <span class="glyphicon glyphicon-remove">  </span>
            </a>
            </li>
            {{/each }} 
        {% endverbatim  %}
    </script>
{% endblock %}

{% block javascript %}
    {{parent()}}
    <script type="text/javascript">
        function removerUsuario($user) {
            $(this).attr('disabled', true);
            $.ajax({
                type: "POST",
                url: '{{path('admin_businesses_asignar_usuario_actualizar')}}',
                data: {'userBusiness': $user, 'persist': 0},
                success: function (array) {
                    if (array[0].resultado === true) {
                        fuente = $('#hbListaUsuarios').html();
                        plantilla = Handlebars.compile(fuente);
                        html = plantilla(array[0].user);

                        $("#listaUsuario").html(html);
                        new PNotify({
                            title: 'Alerta',
                            text: 'Usuario removido de negocio',
                            type: 'success',
                            hide: true
                        });
                    } else {
                        new PNotify({
                            title: 'Alerta',
                            text: 'Error al desasignar usuario',
                            type: 'error',
                            hide: true
                        });
                    }
                },
                error: function (data) {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Error al desasignar usuario',
                        type: 'error',
                        hide: true
                    });
                }
            });
        }

        $("#selectBuscarUsuarios").select2({
            placeholder: "Buscar Usuario...",
            minimumInputLength: 1,
            width: '100%',
            // instead of writing the function to execute the request we use Select2's convenient helper
            ajax: {
                url: "{{path('User_autocomplete_user_byBussineses')}}",
                dataType: "json",
                quietMillis: 250,
                data: function (term, page) {
                    return {
                        // search term
                        q: term
                    };
                },
                results: function (data, page) {
                    // parse the results into the format expected by Select2.
                    // since we are using custom formatting functions we do not need to alter the remote JSON data
                    return {results: data};
                },
                cache: true
            }
        });
        $("#btnAsignar").click(function () {
            if ($("#selectBuscarUsuarios").select2('data') === null) {
                new PNotify({
                    title: 'Alerta',
                    text: 'Seleccione primero un usuario',
                    type: 'error',
                    hide: true
                });
            } else {
                $("#btnAsignar").attr('disabled', true);
                $.ajax({
                    type: "POST",
                    url: '{{path('admin_businesses_asignar_usuario_actualizar')}}',
                    data: {'user': $("#selectBuscarUsuarios").select2('data').id, 'persist': 1},
                    success: function (array) {
                        if (array[0].resultado === true) {
                            fuente = $('#hbListaUsuarios').html();
                            plantilla = Handlebars.compile(fuente);
                            html = plantilla(array[0].user);
                            $("#listaUsuario").html(html);

                            $("#selectBuscarUsuarios").select2("val", "");
                            new PNotify({
                                title: 'Alerta',
                                text: 'Usuario Asigando',
                                type: 'success',
                                hide: true
                            });
                        } else {
                            new PNotify({
                                title: 'Alerta',
                                text: 'Error al asignar usuario',
                                type: 'error',
                                hide: true
                            });
                        }
                        $("#btnAsignar").attr('disabled', false);
                    },
                    error: function (data) {
                        new PNotify({
                            title: 'Alerta',
                            text: 'Error al asignar usuario',
                            type: 'error',
                            hide: true
                        });
                        $("#btnAsignar").attr('disabled', false);
                    }
                });
            }
        });
    </script>
{% endblock %}