{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}
{% block form %}  
    {% form_theme edit_form 'SistemaIRMBundle:Form:form-businesses-theme.html.twig' %}
    {{ form(edit_form) }}

    {% include 'SistemaIRMBundle:Form:macro-viewEntityImagesNew.html.twig' with {'formEntityImage' : formEntityImage,'usuario': usuario}%}     
    <script type="text/javascript">
        $usuario ={{usuario}} ;
    </script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/handlebars-v1.3.0.js') }}'></script> 
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/metodosHandlebar.js') }}'></script> 
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/formBusiness.js') }}'></script> 
{% endblock %}
