{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="filters-right">
            <a class="btn btn-success" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
              </ul>
            </div>
            <a id="reset_index_filters" class="btn btn-danger">
                {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.Uuid') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Uuid', 'a.uuid') }}</th>
                    <th{% if entities.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                    <th{% if entities.isSorted('a.Description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Description', 'a.description') }}</th>
                    <th{% if entities.isSorted('a.FancyName') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'FancyName', 'a.fancyname') }}</th>
                    <th{% if entities.isSorted('a.Country') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Country', 'a.country') }}</th>
                    <th{% if entities.isSorted('a.IsPublic') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'IsPublic', 'a.ispublic') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.uuid }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.fancyname }}</td>
                    <td>{{ entity.country }}</td>
                    <td><div id="estado_{{ entity.id }}">{{ entity.ispublic ? isActive(true, 'Businesses Activo', 'Businesses Borrado') : isActive(false, 'Businesses Activo', 'Businesses Borrado') }}</div></td>
                    <td>
                        {% block actions %}
                            <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            <a class="glyphicon glyphicon-user tooltips btnAgregarUsuario" data-id="{{entity.id}}" href="javascript:;" title="" rel="tooltip" data-original-title="Agregar usuario para la administración"></a>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <a class="btn btn-success likepaginator" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
{% endblock %}


{% block javascript %}
    {{parent()}}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script type="text/javascript">
        $(".btnAgregarUsuario").click(function () {
            location.href = Routing.generate('admin_businesses_asignar_usuario', {id: $(this).data("id")});
        });
    </script>
{% endblock %}