<!-- Modal -->
<div class="modal fade" id="modalSelectBusinesses" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Seleccionar Negocio</h4>
            </div>
            <div class="modal-body">
                <ul id="contenidoModalBusinesses" class="list-unstyled">

                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnSelecionarBusinesses">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

<!--codigo para copilar Modal-->
<script id="hbSelectBusinesses" type="text/x-handlebars-template">
    {% verbatim  %}
        {{#each this}}
        <li>
         <div class="row">
           <label class="col-lg-6 col-md-6 col-sm-6" id="negocio{{ id }}">{{ text }}</label>
           <input class="col-lg-6 col-md-6 col-sm-6" type="radio" name="opciones"  value="{{ id }} "checked>
         </div>
            </li>
        {{/each }} 
    {% endverbatim  %}
</script>

<script type="text/javascript">
    function abrirModalSelectBusinesses() {
        $.ajax({
            type: "POST",
            url: "{{ path('admin_Businesses_byUser') }}",
            success: function (array) {
                if (array.length > 0){
                    fuente = $('#hbSelectBusinesses').html();
                    plantilla = Handlebars.compile(fuente);
                    html = plantilla(array);
                    $("#contenidoModalBusinesses").html(html);
                    $("#modalSelectBusinesses").modal('show');   
                } else {
                    mensajePNotify("Alerta", 'Debe crear un negocio antes de poder seleccionarlo', "error");
                }
            },
            error: function (data) {
                mensajePNotify("Alerta", 'No se puedo obtener el listado de negocios', "error");
            }
        });
    }
    $("#btnSelecionarBusinesses").click(function () {
        $negocio= $('input:radio[name=opciones]:checked').val();
        $.ajax({
            type: "POST",
            url: "{{ path('Businesses_session_change') }}",
            data: {"negocio": $negocio},
            success: function (array) {
           //     $("#negocioNombre").html($("#negocio"+$negocio).text());
                $('#modalSelectBusinesses').modal('hide');
                window.location.reload();
                //mensajePNotify("Alerta", 'No se puedo obtener el listado de negocios', "error");
            },
            error: function (data) {
                //mensajePNotify("Alerta", 'No se puedo obtener el listado de negocios', "error");
            }
        });
    });

</script>