{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
        	<div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-1 col-md-1 col-sm-1">
                		<div class="form-group">
                            <label class="control-label">Id</label>
                        	<div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.id }}
                                </span>
                            </div>
                        </div>
                    </div>    
                   	<div class="col-lg-5 col-md-5 col-sm-5">    
	                    <div class="form-group">
	                        <label class="control-label">Uuid</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.uuid }}
	                            </span>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-lg-4 col-md-4 col-sm-4">
                		<div class="form-group">
                            <label class="control-label">Name</label>
                        	<div class="form-control">
                                <span class="input-xlarge uneditable-input">
                                    {{ entity.name }}
                                </span>
                            </div>
                        </div>
                    </div>    
                   	<div class="col-lg-2 col-md-2 col-sm-2">    
	                    <div class="form-group">
	                        <label class="control-label">Fancy Name</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.fancyname }}
	                            </span>
	                        </div>
	                    </div>
	                </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-10 col-md-10 col-sm-10">
                		<div class="form-group">
	                        <label class="control-label">Description</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.description }}
	                            </span>
	                        </div>
		                </div>
		            </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Country</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.country }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">State</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.state }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">City</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.city }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Postal Code</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.postalcode }}
	                            </span>
	                        </div>
		                </div>
		            </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-8 col-md-8 col-sm-8">
                		<div class="form-group">
	                        <label class="control-label">Address</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.address }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-2 col-sm-2">
                		<div class="form-group">
	                        <label class="control-label">Latitude</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.lat }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-2 col-sm-2">
                		<div class="form-group">
	                        <label class="control-label">Longitude</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.lng }}
	                            </span>
	                        </div>
		                </div>
		            </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Contacte Email</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.contactemail }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Notif Email</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.notifemail }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Main Phone</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.mainphone }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Support Phone</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.supportphone }}
	                            </span>
	                        </div>
		                </div>
		            </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-4 col-md-4 col-sm-4">
                		<div class="form-group">
	                        <label class="control-label">Web Site</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.website }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Rating</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.rating }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-2 col-sm-2">
                		<div class="form-group">
	                        <label class="control-label">is Public?</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.ispublic ? isActive(true, 'Businesses Visible', 'Businesses Oculto') : isActive(false, 'Businesses Visible', 'Businesses Oculto') }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-2 col-md-2 col-sm-2">
                		<div class="form-group">
	                        <label class="control-label">is Deleted?</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.isdeleted ? isActive(true, 'Businesses Activo', 'Businesses Borrado') : isActive(false, 'Businesses Activo', 'Businesses Borrado') }}
	                            </span>
	                        </div>
		                </div>
		            </div>    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Menu</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.menu }}
	                            </span>
	                        </div>
		                </div>
		            </div>
		            <div class="col-lg-3 col-md-3 col-sm-3">
                		<div class="form-group">
	                        <label class="control-label">Sync Process Time Stamp</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {{ entity.syncprocesstimestamp }}
	                            </span>
	                        </div>
		                </div>
		            </div>  
		            <div class="col-lg-2 col-md-2 col-sm-2">
                		<div class="form-group">
	                        <label class="control-label">Type</label>
	                    	<div class="form-control">
	                            <span class="input-xlarge uneditable-input">
	                                {% if entity.type == 0 %}
	                                	Otro
	                                {% elseif entity.type == 1 %}
	                                	Hotel
	                                {% elseif entity.type == 2 %}
	                                	Restaurante
	                                {% elseif entity.type == 3 %}
	                                	Bar
	                                {% endif %}	
	                            </span>
	                        </div>
		                </div>
		            </div>  
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
            		<div class="col-lg-6 col-md-6 col-sm-6">
                		<div class="form-group">
	                        <label class="control-label">Background Image</label></br>
	                    	{% if entity.bgImage.filePathSource is defined %}
			                    <img id="imgSource" src="{{ asset(entity.bgImage.getWebPathSource) }}" class="img-rounded" style=" width: 70%;"> 
			                {% else %}   
			                    <img id="imgSource" src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;"> 
			                {% endif %}    
		                </div>
		            </div>
		            <div class="col-lg-6 col-md-6 col-sm-6">
                		<div class="form-group">
	                        <label class="control-label">Icon Image</label></br>
	                    	{% if entity.iconImage.filePathCropped is defined  %}
			                    <img id="imgCropped" src="{{ asset(entity.iconImage.getWebPathCropped) }}" class="img-rounded" style=" width: 70%;"> 
			                {% else %}   
			                    <img id="imgCropped" src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;"> 
			                {% endif %} 
		                </div>
		            </div>    
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9">
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}