{% extends "SistemaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <h4 class="page-head-line">Por favor Inicia sesión para Ingresar </h4>
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error|trans({}, 'FOSUserBundle') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-md-6">
            <h4> Iniciar sesión con facebook <strong> / </strong>Google :</h4>
            <br />

            {#<a href="index.html" class="btn btn-social btn-facebook">
                <i class="fa fa-facebook"></i>&nbsp; Facebook</a>#}
            <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
            &nbsp;O&nbsp;
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

            {#<a href="index.html" class="btn btn-social btn-google">
                <i class="fa fa-google-plus"></i>&nbsp; Google</a>#}
            <hr />
            <h4> O Iniciar sesión con <strong>IRM  :</strong></h4>
            <br />
            <form action="{{ path("fos_user_security_check") }}" id="loginform" role="form" method="post" class="form-horizontal" style="margin-bottom: 0px !important;">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <label>Email : </label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" placeholder="{{ 'security.login.username'|trans }}" />


                <label>Password :  </label>
                <input type="password" id="password" name="_password" required="required" class="form-control" placeholder="{{ 'security.login.password'|trans }}" />
                <br />

                <button class="btn btn-info"><span class="glyphicon glyphicon-user"></span> &nbsp;{{ 'layout.login'|trans({}, 'FOSUserBundle') }} </button>&nbsp;
                <a class="btn btn-success" href="{{path('fos_user_registration_register')}}">Registrarse</a>
            </form>
        </div>
        <div class="col-md-6">
            <div class="alert alert-info">
                This is a free bootstrap admin template with basic pages you need to craft your project. 
                Use this template for free to use for personal and commercial use.
                <br />
                <strong> Some of its features are given below :</strong>
                <ul>
                    <li>
                        Responsive Design Framework Used
                    </li>
                    <li>
                        Easy to use and customize
                    </li>
                    <li>
                        Font awesome icons included
                    </li>
                    <li>
                        Clean and light code used.
                    </li>
                </ul>

            </div>
            <div class="alert alert-success">
                <strong> Instructions To Use:</strong>
                <ul>
                    <li>
                        Lorem ipsum dolor sit amet ipsum dolor sit ame
                    </li>
                    <li>
                        Aamet ipsum dolor sit ame
                    </li>
                    <li>
                        Lorem ipsum dolor sit amet ipsum dolor
                    </li>
                    <li>
                        Cpsum dolor sit ame
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id))
                return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=1643830402571488";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            console.log("ID: " + profile.getId()); // Don't send this directly to your server!
            console.log("Name: " + profile.getName());
            console.log("Image URL: " + profile.getImageUrl());
            console.log("Email: " + profile.getEmail());

            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            console.log("ID Token: " + id_token);
        }
        ;
    </script>
{% endblock fos_user_content %}