<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/sistemacpce/css/crud.css') }}" rel="stylesheet">
        <!-- FONT AWESOME ICONS  -->
        <link href="{{ asset('bundles/sistemairm/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLE  -->
        <link href="{{ asset('bundles/sistemairm/css/style.css') }}" rel="stylesheet" />

        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <strong>Email: </strong>contacto@tecspro.com.ar
                        &nbsp;&nbsp;
                        <strong>Soporte: </strong>+90-897-678-44
                    </div>

                </div>
            </div>
        </header>
        <!-- HEADER END-->
        <div class="navbar navbar-inverse set-radius-zero">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{path('mws_admin_crud_menu')}}">

                         <img src="{{ asset('bundles/sistemairm/img/logo.png') }}" />
                    </a>

                </div>

                <div class="left-div">
                    <i class="fa fa-user-plus login-icon" ></i>
                </div>
            </div>
        </div>
        <!-- LOGO HEADER END-->

        <!-- MENU SECTION END-->
        <div class="content-wrapper">
            <div class="container">
                <a href="{{path('mws_admin_crud_menu')}}" class="logoChaco">
                    <img src="{{ asset('bundles/sistemacpce/images/header_logo.png') }}" alt="" />
                </a>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% endif %}

                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="alert
                             {% if type == "fos_user_success" %} alert-success {% else %} alert-danger {% endif %}
                             ">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                {% endfor %}

            {% block fos_user_content %}{% endblock fos_user_content %}

        </div>
    </div>
</div>
</body>
</html>