{% extends 'AppBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - UserInfo
{% endblock %}

{% block body -%}
<div class="container">
    <div class="row">
        <div class="panel panel-primary center-block">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-ok"></i> UserInfo {{ entity.username }}
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-5 col-md-5 col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Alternate Email</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.alternateemail }}
                                    </span>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">First Name</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.firstnames }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Last Name</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.lastnames }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Address</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.address }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Country</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.country }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Country Code</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.countrycode }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Phone</label>
                                <div class="form-control">
                                    <span class="input-xlarge uneditable-input">
                                        {{ entity.phone }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="float-left col-lg-3 col-md-3 col-sm-3">
                <a class="btn btn-primary col-lg-11" href="{{ path('user_info_edit') }}">
                    Editar
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}