{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}  
    {% form_theme edit_form 'SistemaIRMBundle:Form:form-order-theme.html.twig' %}
    {{ form(edit_form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addFormEmbed.js') }}"></script>
{% endblock %}