{% extends 'MWSimpleAdminCrudBundle:Default:new.html.twig' %}

{% block form %}  
    {% form_theme form 'SistemaIRMBundle:Form:form-order-theme.html.twig' %}
    {{ form(form) }}
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addForm.js') }}"></script>
    <script src="{{ asset('bundles/mwsimpleadmincrud/js/addFormEmbed.js') }}"></script>
{% endblock %}