{% extends "SistemaUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="panel-heading">
        <div class="panel-title">{{ 'registration.check_email'|trans({'%email%': user.email}) }}</div>
    </div>     
    <div style="padding-top:30px" class="panel-body" >
        <form>
            <p>Verifica la casilla de mensajes no deseados o spam.</p>
            <div>
                <div class="panel-footer">
                    <div class="pull-left">
                        <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock fos_user_content %}