
{% trans_default_domain 'FOSUserBundle' %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-head-line">Registrarse </h1>
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> | {{ 'layout.register'|trans }}
    </div>
</div>
<div style="padding-top:30px" class="panel-body">
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <div class="form-group">
            <i class="glyphicon glyphicon-user"></i>
            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-envelope"></i>
            {{ form_label(form.email) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-lock"></i>
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
        <div class="form-group">
            <i class="glyphicon glyphicon-lock"></i>
            {{ form_label(form.plainPassword.second) }}
            {{ form_errors(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second) }}
        </div>
        {#<div class="block" style="text-align:center">
            <input type="checkbox" style="margin-right:5px">
            <span>
                Acepto <a href="#">Acuerdo de usuario</a>
            </span>
        </div>#}
        {{ form_rest(form) }}
        <div class="pull-left">
            <a href="{{ path('homepage') }}" class="btn btn-default">Cerrar</a>
        </div>
        <div class="pull-right">
            <input type="submit" value="{{ 'registration.submit'|trans }}" class="btn btn-success" />
        </div>
    </form>
</div>