<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ 'views.layout.bannersadmin'|trans({}, 'MWSimpleAdminCrudBundle') }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrap-checkbox.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.css') }}" rel="stylesheet" id="bootstrap-style">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/select2/select2.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/mwsimpleadmincrud/css/bootstrapValidator.min.css') }}">
        <link href="{{ asset('bundles/mwsimpleadmincrud/datetime/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
        <link href="{{ asset('bundles/mwsimpleadmincrud/css/crud.css') }}" rel="stylesheet">

        <!-- FONT AWESOME ICONS  -->
        <link href="{{ asset('bundles/sistemairm/css/font-awesome.css') }}" rel="stylesheet" />
        <!-- CUSTOM STYLE  -->
        <link href="{{ asset('bundles/sistemairm/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/sistemairm/css/pnotify.custom.min.css') }}" rel="stylesheet" />

        <script src="{{ asset('bundles/mwsimpleadmincrud/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap.min.js') }}"></script>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/bootstrap-datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/datetime/js/locales/bootstrap-datetimepicker.es.js') }}"></script>
        <script src="{{ asset('bundles/mwsimpleadmincrud/select2/select2.min.js') }}"></script>
        <script src="{{ asset('bundles/sistemairm/js/irm.js') }}"></script>
        <style type="text/css">
            body {
                padding-top: 0px !important;
            }
            disabledmnu{
                color: #ccc !important;
            }
        </style>


    {% block stylesheets %}{% endblock %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="{{ asset('bundles/mwsimpleadmincrud/images/favicon.ico') }}">
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>Email: </strong>contacto@tecspro.com.ar
                    &nbsp;&nbsp;
                    <strong>Soporte: </strong>+90-897-678-44
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{path('mws_admin_crud_menu')}}">

                    <img src="{{ asset('bundles/sistemairm/img/logo.png') }}" />
                </a>

            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                            </a>
                            <div class="dropdown-menu dropdown-settings">
                                <div class="media">
                                    <div class="media-body">
                                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                            <h4 class="media-heading">{{ app.user.username }}</h4>
                                            <h5>{{ app.user.email }}</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <hr />
                                <a href="javascript:;" class="btn btn-info btn-sm">Editar Perfil</a>&nbsp; <a href="login.html" class="btn btn-danger btn-sm">Salir</a>
                            </div>
                        </li>
                        <li>
                            <label class="label label-info" for="">Negocio seleccionado: <span id="negocioNombre">{{ app.session.get('negocioNombre') }}</span></label> <br>
                            <button class="btn btn-primary btn-sm" id="btnListarBusinesses">
                                <i class=" fa fa-refresh "></i>
                                Cambiar
                            </button>
                            <!--<input type="hidden" id="seleccionarNegocio">-->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        {% block menu %}
                            <ul id="menu-top" class="nav navbar-nav navbar-left">
                                <li id="homepage"><a href="{{ path('homepage') }}">Homepage</a></li>
                                <li><a href="{{ path('user_info') }}"><i class="glyphicon glyphicon-edit"></i> UserInfo</a></li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="glyphicon glyphicon-off"></i> LogOut</a></li>
                            </ul>
                            {{ knp_menu_render('MWSimpleAdminCrudBundle:Builder:adminMenu', {'currentClass': 'menu-top-active'}) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% block page %}{% endblock %}
        {{ include('SistemaIRMBundle:Businesses:modalSelectBusinesses.html.twig') }}
    </div>
</div>
<!-- CONTENT-WRAPPER SECTION END-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                &copy; 2015 TECSPRO | By : <a href="http://www.tecspro.com.ar/" target="_blank">TECSPRO</a>
            </div>

        </div>
    </div>
</footer>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-checkbox.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/bootstrap-fileupload/bootstrap-fileupload.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/bootstrapValidator.min.js') }}"></script>
<script src="{{ asset('bundles/mwsimpleadmincrud/js/validator/language/es_ES.js') }}"></script>
<script src="{{ asset('bundles/sistemairm/js/pnotify.custom.min.js') }}"></script>
<script type='text/javascript' src='{{ asset('bundles/sistemairm/js/handlebars-v1.3.0.js') }}'></script> 
<script type='text/javascript' src='{{ asset('bundles/sistemairm/js/metodosHandlebar.js') }}'></script>
<script type="text/javascript">
    $(document).ready(function () {
        //  console.log($("#menu-top").children());
        $("#btnListarBusinesses").click(function () {
            abrirModalSelectBusinesses();
        });
        $sessionMenu={{app.session.get('idMenu') }};
        $sessionNegocio={{app.session.get('idNegocio') }};
        controlMenu({{app.session.get('idMenu') }},{{app.session.get('idNegocio') }});
    });
</script>
{% block javascript %}
{% endblock %}
</body>
</html>