                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <div class="row">
                                <div class="col-md-8">
                                    <h5><span class="glyphicon glyphicon-shopping-cart"></span> Tus Compras!</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% set total = 0 %}
                        {% if prices %}
                            {% for price in prices %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="product-name"><strong>{{ price['producto'] }}</strong>
                                            {% for key, n in price['nombre'] %}
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <br><small> - {{ n }} ${{ price['precio'][key] }}</small>
                                                    <input type="hidden" value="{{ key }}" class="items">
                                                </div>
                                                <div class="col-md-4">    
                                                    <input type="text" id="cantidadProducto" class="form-control input-sm" style="height: 25px; width: 40px; margin-top: 15px" value="1" onChange="calculo(this.value, {{ price['precio'][key] }}, sTotal{{ key }}, total);">
                                                    <input type="hidden" value="{{ price['precio'][key] }}" id="sTotal{{ key }}" class="subtotal">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-trash" style="margin-top: 18px"></span></button>
                                                </div>
                                                {% set total = total + price['precio'][key]|number_format %}
                                            </div>
                                            {% endfor %}
                                            <h6 class="product-extra"><strong>-> extras:</strong>
                                            {% for key, m in price['modificadores']['modifNombre'] %}
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <br><small> - {{ m }} ${{ price['modificadores']['modifPrecio'][key] }}</small>
                                                </div>
                                                <div class="col-md-4">    
                                                    <input type="text" id="cantidadProducto" class="form-control input-sm" style="height: 25px; width: 40px; margin-top: 15px" value="1" onChange="calculo(this.value, {{ price['modificadores']['modifPrecio'][key] }}, sTotal{{ key }}, total);">
                                                    <input type="hidden" value="{{ price['modificadores']['modifPrecio'][key] }}" id="sTotal{{ key }}" class="subtotal">
                                                </div>
                                                <div class="col-md-3">
                                                    <button type="button" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-trash" style="margin-top: 18px"> </span></button>
                                                </div>
                                                {% set total = total + price['modificadores']['modifPrecio'][key]|number_format %}
                                            </div>
                                            {% endfor %}
                                            </h6>    
                                        </h5>    
                                    </div>                                        
                                </div>
                            {% endfor %}
                        {% else %}    
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <h4 class="product-name"><strong>NO HAS SELECCIONADO NINGUN PRODUCTO</strong></h4>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="product-name"><strong>Eleji la fecha de entrega:</strong></h5>
                                <input type="hidden" value="#" class="fechaEntrega">
                                <div class="row">
                                    <div class="col-md-10">
                                        {% if deliveryDates %}
                                            <select type="text" id="deliveryDate" class="form-control">
                                                {% for date in deliveryDates %}
                                                    <option>{{ date.fechaEntrega|date('d-m-Y-H:i') }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <select type="text" id="deliveryDate" class="form-control" readonly>
                                                <option>No Disponible</option>
                                            </select>
                                        {% endif %}    
                                    </div>
                                </div>    
                            </div>                                        
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="product-name"><strong>Destino:</strong></h5>
                                <input type="hidden" value="#" class="destino">
                                <div class="row">
                                    <div class="col-md-10">
                                        {% if tables %}
                                            <select type="text" id="destino" class="form-control">
                                                {% for destino in tables %}
                                                    <option>{{ destino.name }}</option>
                                                {% endfor %}
                                            </select>
                                        {% else %}
                                            <select type="text" id="destino" class="form-control" readonly>
                                                <option>No Disponible</option>
                                            </select>
                                        {% endif %}    
                                    </div>
                                </div>    
                            </div>                                        
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="product-name"><strong>Deja un comentario:</strong></h5>
                                <div class="row">
                                    <div class="col-md-10">
                                        <textarea type="text" id="comment" class="form-control" rows="3"></textarea>
                                    </div>
                                </div>    
                            </div>                                        
                        </div>
                        <hr>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="text-right"><strong>Total</strong></h4>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                  <div class="input-group-addon">$</div>
                                  <input type="text" class="form-control" id="total" value="{{ total }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button onclick="return generarOrden(total.value);" type="button" class="btn btn-success btn-block">
                                    Realizar Orden
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


    <script type="text/javascript">
        function calculo (cantidad, precio, hiddentext, inputtext) {
            subtotal = precio * cantidad;
            hiddentext.value = subtotal;
            totalReal = 0;
            $( ".subtotal" ).each(function( id, val ) {
                totalReal = totalReal + parseFloat(val.value);
            });
            inputtext.value = totalReal;
        }
        function deletedPrice (id) {
            var url = Routing.generate('deleted_session', { id: id });
            $.ajax({
                type: "GET",
                url: url,
                success: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Carrito Actualizado',
                        type: 'success',
                        hide: true
                    });
                },
                error: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Error',
                        type: 'error',
                        hide: true
                    });
                }
            });
        }
        function deletedPriceMod (id) {
            var url = Routing.generate('deleted_session_mod', { id: id });
            $.ajax({
                type: "GET",
                url: url,
                success: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Carrito Actualizado',
                        type: 'success',
                        hide: true
                    });
                },
                error: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Error',
                        type: 'error',
                        hide: true
                    });
                }
            });
        }
        function generarOrden (amount) {
            items = 0;
            $( ".items" ).each(function( id, val ) {
                items = items + '-.-' + val.value;
            });
            subTotals = 0;
            $( ".subtotal" ).each(function( id, val ) {
                subTotals = subTotals + '¬' + parseFloat(val.value);;
            });
            fechaEntrega = '-';
            $( "#deliveryDate" ).each(function( id, val ) {
                fechaEntrega = val.value;
            });
            destino = '-';
            $( "#destino" ).each(function( id, val ) {
                destino = val.value;
            });
            comment = "No dejo comentarios";
            $( "#comment" ).each(function( id, val ) {
                if (val.value.length != 0 ) {
                    comment = val.value;
                }
            });

            var url = Routing.generate('generar_orden', { amount: amount, items: items, subTotals: subTotals, fechaEntrega: fechaEntrega, destino: destino, nota: comment });
            $.ajax({
                type: "GET",
                url: url,
                success: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Se ha generado una orden',
                        type: 'success',
                        hide: true
                    });
                },
                error: function () {
                    new PNotify({
                        title: 'Alerta',
                        text: 'Error',
                        type: 'error',
                        hide: true
                    });
                }
            });
        }
        $(document).ready(function () {

        });
    </script>
