{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Negocios {% endblock %}

{% block header -%}
    <div class="left-div">
        <h2 style="color:#FFFFFF; font-weight: bold;">BIENVENIDO A IRM
            {% if app.user %}
                {{ app.user.username|upper }}!
            {% endif %}
        </h2>
        <div class="user-settings-wrapper">
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" style="font-size: 25px;"></span>
                    </a>
                    <div class="dropdown-menu dropdown-settings">
                        <div class="media">
                            <a class="media-left" href="#">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Jhon Deo Alex </h4>
                                <h5>Developer & Designer</h5>
                            </div>
                        </div>
                        <hr />
                        <h5><strong>Personal Bio : </strong></h5>
                        Anim pariatur cliche reprehen derit.
                        <hr />
                        <a href="#" class="btn btn-info btn-sm">Full Profile</a>&nbsp; <a href="login.html" class="btn btn-danger btn-sm">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body -%}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">Negocios</h4>
            </div>
        </div>
        <div role="tabpanel">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div id="categoryAll" class="tab-pane fade in active">
                            {% for key, business in businesses %}
                                {% if not business.isDeleted %}
                                    {% if business.isPublic %}
                                        {#{ business|ladybug_dump }#}
                                        <div class="notice-board">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4><strong>{{ business.name }}</strong>
                                                        {% if business.description %}
                                                            : <small>{{ business.description }}</small></h4>
                                                        {% else %}
                                                        </h4>
                                                    {% endif %}    
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        {% if business.bgImage is not null %}
                                                            <div class="col-md-3">
                                                                {#<img src="{{ asset(product.getIconimagetype) }}" class="img-rounded"/>#}
                                                                <img src="{{ asset(business.bgImage.webPathCropped) }}" style="width: 140px; height: 140px;" class="img-rounded"/>
                                                            </div>
                                                        {% else %}
                                                            <div class="col-md-3">
                                                                <img src="http://placehold.it/140x140" class="img-rounded"/>
                                                            </div>
                                                        {% endif %}
                                                        <div class="col-md-3">
                                                            <address>
                                                                <strong>Ubicación:</strong>
                                                                <br>
                                                                {% if business.country %}
                                                                    {{ business.country }}
                                                                {% else %}
                                                                    País Desconocido
                                                                {% endif %}
                                                                <br>
                                                                {% if business.state and business.city %}
                                                                    {{ business.state }}, {{ business.city }}
                                                                {% else %}
                                                                    Loc. Desconocida    
                                                                {% endif %}    
                                                                <br>
                                                                {% if business.postalcode %}
                                                                    Cp {{ business.postalcode }}
                                                                {% else %}
                                                                    No tiene Cód. P.
                                                                {% endif %}    
                                                                <br>
                                                                {% if business.address %}
                                                                    {{ business.address }}
                                                                {% else %}
                                                                    Direc. Desconocida
                                                                {% endif %}    
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <address>
                                                                        <strong>Contacto:</strong><br>
                                                                        - Sitio Web:
                                                                        <br>
                                                                        {% if business.website %}
                                                                            <a href="http://{{ business.website }}">{{ business.website }}</a>
                                                                            <br>
                                                                        {% else %}
                                                                            No Disponible
                                                                            <br>
                                                                        {% endif %}
                                                                        - Email:
                                                                        <br>
                                                                        {% if business.contactemail %} 
                                                                            {{ business.contactemail }}
                                                                        {% else %}
                                                                            No Contiene
                                                                        {% endif %}
                                                                        <br>
                                                                    </address>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <address>
                                                                        <strong>"Recomendado"</strong>
                                                                        <br>
                                                                        {% if business.rating %}
                                                                            {% for x in 0..business.rating %}
                                                                                <i class="glyphicon glyphicon-star"></i>
                                                                            {% endfor %}
                                                                        {% else %}
                                                                            {% for x in 0..5 %}
                                                                                <i class="glyphicon glyphicon-star-empty"></i>
                                                                            {% endfor %}
                                                                        {% endif %}    
                                                                        <br>
                                                                        <br>
                                                                    </address>
                                                                    {% if business.menu %}
                                                                        <a href="{{ path('menu_show', {'idNeg': business.getId } ) }}" class="btn btn-warning">VER MENU</a>

                                                                    {% else %}
                                                                        <a href="#" class="btn btn-warning">NO TIENE MENU</a>
                                                                    {% endif %}
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <!-- Producto de Ejemplo -->
                            {#
                            <div id="categoryAll" class="tab-pane fade in active">
                                <div class="notice-board">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            Product Nro #01 Example
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <img src="http://placehold.it/140x140" class="img-rounded"/>
                                                </div>
                                                <div class="col-md-9">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan...</p>
                                                    <p class="lead" style="font-size:20px"><strong>$ 000</strong></p>
                                                    <button type="button" class="btn btn-warning">VIEW PRODUCT</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            #}
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="page-head-line"></h4>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>
            </div>
        </div>
    {% endblock %}

    {% block javascripts -%}

        {{ parent() }}

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                
            });
        </script>

    {% endblock %}