{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Pedidos {% endblock %}

{% block header -%}
    <div class="left-div">
        <h3 style='color: #ffffff;'>PEDIDOS</h3>
    </div>
{% endblock %}

{% block body -%}

    {% for key, order in orders %}
    <!-- si menu no fue borrado se muestra el respectivo menu -->
    <div class="container">
        <div class="row">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-md-8">
                                <h5><span class="glyphicon glyphicon-shopping-cart"></span> Orden nro {{ order.id }}!</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="product-name"><small>- Fecha del Pedido: {{ order.deliverydate }}</small></h4>
                            <h4 class="product-name"><small>- Negocio: {{ order.business }}</small></h4>
                            <h4 class="product-name"><small>- Cantidad de Articulos: {{ order.guestsquantity }}</small></h4>
                            <h4 class="product-name"><small>- Nota: "{{ order.note }}"</small></h4>
                            {% for key, item in order.orderItems %}
                                {% if key != 0 %}
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
                                        <div class="panel panel-info">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">Items</h3>
                                            </div>
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-md-5 col-lg-5 " align="center"> 
                                                        <img alt="User Pic" src="http://placehold.it/100x100" class="img-rounded img-responsive"> 
                                                    </div>
                                                    <div class=" col-md-4 col-lg-4 ">
                                                        <table class="table table-user-information">
                                                            <tbody>
                                                                {% if item.product %}
                                                                <tr>
                                                                    <td>Producto:</td>
                                                                    <td>{{ item.product.getName() }}</td>
                                                                </tr>
                                                                {% endif %}
                                                                <tr>
                                                                    <td>Precio:</td>
                                                                    <td>${{ item.amount }}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Extra:</td>
                                                                    <td>01/24/1988</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                                                <span class="pull-right">
                                                    <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                                                    <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>                                        
                    </div>
                    <hr>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="text-right"><strong>Total</strong></h4>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                              <div class="input-group-addon">$</div>
                              <input type="text" class="form-control" id="total" value="{{ order.amount }}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
{% endblock %}