
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="background: #F2F2F2; border-color: #F2F2F2; border-radius: 0px;">
                {% for product in products %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% if product.getImage %}
                                <img src="{{ asset(product.image.WebPathCropped) }}" style="width: 100px; height: 100px;"/>
                            {% else %}
                                <img src="http://placehold.it/100x100"/>
                            {% endif %}
                            {% if app.user %}
                                <button id="getPrices" type="button" title="Añadir al Carrito" class="btn btn-default btn-sm" aria-label="Left Align" style="margin-top: 3px; width: 100px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                            {% else %}
                                <button id="errorComprar" type="button" title="Añadir al Carrito" class="btn btn-default btn-sm" aria-label="Left Align" style="margin-top: 3px; width: 100px;"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            <h4 style="margin-left: 10px"><strong>{{ product.name }}</strong></h4>
                            <h5 style="text-align: left; margin-left: 10px"><small>{{ product.description }}</small></h5>
                        </div>
                        <div class="col-md-3">
                            {% if app.user %}
                                <h5><strong>Disponibles:</strong></h5>
                                {% if product.priceArraySerialized %}
                                    {% set prices = product.prices.getValues() %}
                                    <form>
                                        {% for price in prices %}
                                            <h5><input type="checkbox" class="condiciones" value="{{ price.getJson }}-.-{{ product.name }}"> 
                                            <small> {{ price.name }} </small>- <strong>${{ price.amount }}</strong></h5>
                                        {% endfor %}
                                    </form>
                                {% endif %}
                            {% else %}
                                <h4><small style="color: #FF7575"> "Debe ser usuario registrados para comprar productos" </small></h4>
                            {% endif %} 
                        </div>
                        <div class="col-md-3">
                            {% if app.user %}
                                <h5><strong>extras:</strong></h5>
                                {% if product.modifierPriceArraySerialized %}
                                    {% set pricesModifiers = product.modifierPrices.getValues() %}
                                    <form>
                                        {% for priceMod in pricesModifiers %}
                                            <h5><input type="checkbox" class="condiciones" value="{{ priceMod.getJson }}^{{ product.name }}"> 
                                            <small> {{ priceMod.name }} </small>- <strong>${{ priceMod.amount }}</strong></h5>
                                        {% endfor %}
                                    </form>
                                {% endif %} 
                            {% endif %}    
                        </div>
                    </div>
                </div> 
                <hr style="color: #C36464; background-color: #C36464; height: 2px;">
                {% endfor %}
            </div>
        </div>
    </div>  

    <script type="text/javascript">
        $(document).ready(function () {
            $('#getPrices').click(function(){    
                var pricesArray = [];
                $(':checkbox:checked').each(function(i){
                    pricesArray[i++] = $(this).val();
                });
                var url = Routing.generate('set_session', { prices: pricesArray });
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function (response) {
                        $('#carrito').html(response);
                    },
                    error: function () {
                        new PNotify({
                            title: 'Alerta',
                            text: 'Error',
                            type: 'error',
                            hide: true
                        });
                    }
                });
            });

            $('#errorComprar').click(function(){    
                new PNotify({
                    title: 'Alerta',
                    text: 'Debe Estar Registrado para Comprar',
                    type: 'error',
                    hide: true
                });
                var redirect = "{{ path('fos_user_security_login') }}";
                window.location.href = redirect;
            });
            
        });
    </script>
