{% extends 'AppBundle::layout.html.twig' %}

{% block title %} Menu {% endblock %}

{% block header -%}
    <div class="left-div">
        <h3 style='color: #ffffff;'>{{ business.name }}</h3>
        <h4 style='color: #ffffff;'>{{ business.description }}</h4>
    </div>
{% endblock %}

{% block body -%}

    <link href="{{ asset('bundles/sistemairm/css/pnotify.custom.min.css') }}" rel="stylesheet" />
    {% set carrito = app.session.get('carrito') %}
    <!-- si menu no fue borrado se muestra el respectivo menu -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="page-head-line">{{ menu.name }}</h4>
            </div>
        </div>

        <div role="tabpanel"></div>

        <div class="row">
            <!-- CATEGORIAS -->
            <div class="col-md-2">                                                
                <!-- OPEN AJAX CONTROL -->
                <ul class="nav nav-pills nav-stacked" id="myTab2">
                    <!-- CATEGORY DEFAULT -->
                    <li role="presentation" class="active"><a class="getCategory" data-id="0" href="#categoryAll">Productos (#{{ products|length }})</a></li>

                    <!-- CATEGORY -->
                    {% for category in categories %}    
                        {% if category.lvl == 1 %}
                            <li role="presentation"><a class="getCategory" data-id="{{ category.id }}" href="#category{{ category.id }}">{{ category.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <!-- CLOSE AJAX CONTROL -->
            </div>
            <!-- SUBCATEGORIAS -->
            <div class="col-md-7">
                <!-- OPEN AJAX CONTROL -->
                <div class="tab-content">
                    <!-- OPEN SUBCATEGORY DEFAULT -->
                    <div id="categoryAll" class="tab-pane fade in active">
                        <ul class="nav nav-pills" id="myTab2">
                            <li role="presentation"><a href="#catryNada">Default1</a></li>
                            <li role="presentation"><a href="#catryNada">Default2</a></li>
                            <li role="presentation"><a href="#catryNada">Default3</a></li>
                        </ul>    
                    </div>
                    <!-- CLOSE SUBCATEGORY DEFAULT -->
                    <!-- OPEN SUBCATEGORY -->
                    {% for category in categories %}
                        <div id="category{{ category.id }}" class="tab-pane fade">
                            <ul class="nav nav-pills" id="myTab2">
                                {% for cat in categories %}
                                    {% if cat.parent %}
                                        {% set catP = cat.parent %}
                                        {% if catP.id == category.id %}
                                            {% if cat.image %}
                                                <li role="presentation"><a class="getCategory" data-id="{{ cat.id }}" href="#catry{{ cat.id }}"><img src="{{ asset(cat.image.WebPathCropped) }}"style="width: 34px; height: 34px;"/> {{ cat.name }}</a></li>
                                            {% else %}
                                                <li role="presentation"><a class="getCategory" data-id="{{ cat.id }}" href="#catry{{ cat.id }}">{{ cat.name }}</a></li>
                                            {% endif %}    
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>    
                        </div>
                    {% endfor %}
                    <!-- CLOSE SUBCATEGORY -->
                </div>
                <!-- CLOSE AJAX CONTROL -->
                <hr>

                <div id="products">
                </div>

            </div>
            
            <div class="col-md-3" id="carrito">
            </div>
            
        </div>
    </div>
    <!-- si menu ha sido borrado se muestra una leyenda -->
    <div class="container">
        <!-- Modal de productos -->
        <div class="modal fade" id="mModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('bundles/sistemairm/js/pnotify.custom.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type='text/javascript' src='{{ asset('bundles/sistemairm/js/bootstrap-confirmation.min.js') }}' ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#myTab2 a").click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            $(".getCategory").click(function (e) {

                var CategoryId = $(this).data('id');
                var url = Routing.generate('traer_productos', { id: CategoryId });
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(response) {
                       $('#products').html(response);
                    }
                });

            });
        });
    </script>

{% endblock %}
