{% extends 'MWSimpleAdminCrudBundle:Default:edit.html.twig' %}

{% block form %}
    {% form_theme edit_form 'SistemaUserBundle:Form:form-user-theme.html.twig' %}
    {{ form(edit_form) }}
{% endblock %}
