{% extends 'MWSimpleAdminCrudBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - {{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
{% endblock %}

{% block page %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="filters-right">
            <a class="btn btn-success" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    {{ 'views.index.export'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }} <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path(config.export, { 'format': "xls" }) }}">EXCEL</a></li>
                <li><a href="{{ path(config.export, { 'format': "csv" }) }}">CSV</a></li>
                <li><a href="{{ path(config.export, { 'format': "json" }) }}">JSON</a></li>
              </ul>
            </div>
            <a id="reset_index_filters" class="btn btn-danger">
                {{ 'views.index.reset'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{ 'views.index.list'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}</h3>
        </div>
        <table class="table table-striped table-bordered table-condensed table-responsive">
            <thead>
                <tr>
                    <th{% if entities.isSorted('a.Id') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Id', 'a.id') }}</th>
                    <th{% if entities.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Name', 'a.name') }}</th>
                    <th{% if entities.isSorted('a.Description') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Description', 'a.description') }}</th>
                    <th{% if entities.isSorted('a.Code') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Code', 'a.code') }}</th>
                    <th{% if entities.isSorted('a.Visible') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'Visible', 'a.visible') }}</th>
                    <th{% if entities.isSorted('a.IsDeleted') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(entities, 'IsDeleted', 'a.isdeleted') }}</th>
                    <th>{{ 'views.index.actions'|trans({}, 'MWSimpleAdminCrudBundle') }}</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.code }}</td>
                    <td><div id="estado_{{ entity.id }}">{{ entity.visible ? isActive(true, 'Product Visible', 'Product Oculto') : isActive(false, 'Product Visible', 'Product Oculto') }}</div></td>
                    <td><div id="estado_{{ entity.id }}">{{ entity.isdeleted ? isActive(true, 'Product Activo', 'Product Borrado') : isActive(false, 'Product Activo', 'Product Borrado') }}</div></td>
                    <td>
                        {% block actions %}
                            <a class="glyphicon glyphicon-search tooltips"  href="{{ path(config.show, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                            <a class="glyphicon glyphicon-edit tooltips"  href="{{ path(config.edit, { 'id': entity.id }) }}" title="" rel="tooltip" data-original-title="{{ 'views.actions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}"></a>
                        {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 navigation">
        {{ knp_pagination_render(entities) }}
    </div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <a class="btn btn-success likepaginator" href="{{ path(config.new) }}">
                {{ 'views.index.createnew'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $('.tooltips').tooltip();
        $( "#reset_index_filters" ).click(function() {
            $(".reset_submit_filters").trigger("click");
        });
    </script>
{% endblock %}