{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block page %}
    {% import "SistemaIRMBundle:Form:macro-price.html.twig" as macrosPrice %}
    {% import "SistemaIRMBundle:Form:macro-price.html.twig" as macrosModifierPrice %}
    <style type="text/css">
        .not-active {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <div class="panel panel-primary center-block">
        <div class="panel-heading">
            <i class="glyphicon glyphicon-ok"></i> {{ 'views.show.show'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"> 
                    <div class="form-group">
                        <label class="control-label">uuid</label>
                        <div class="form-control">
                            <span class="input-xlarge uneditable-input">
                                {{entity.uuid }}
                            </span>
                        </div>
                    </div>
                </div> 
                <div class="col-lg-4 col-md-4 col-sm-4"> 
                    <label class="control-label">foreignCode</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.foreignCode }}
                        </span>
                    </div>

                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"> 
                    <label class="control-label">name</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.name }}
                        </span>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3"> 
                    <label class="control-label">status</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {% if entity.status == 0 %}
                                Available                
                            {% else %}  
                                Unavailable
                            {% endif %}
                        </span>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"> 
                    <label class="control-label">code</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.code }}
                        </span>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"> 
                    <label class="control-label">Visible?</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.visible ? isActive(true, 'Producto Visible', 'Producto Oculto') : isActive(false, 'Producto Visible', 'Producto Oculto') }}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"> 
                    <label class="control-label">Is Deleted?</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.isdeleted ? isActive(true, 'Producto Activo', 'Producto Borrado') : isActive(false, 'Producto Activo', 'Producto Borrado') }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <label class="control-label">description</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.description }}
                        </span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label class="control-label">allowordering</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.allowordering ? isActive(true, 'Product Orderning', 'Product not Orderning') : isActive(false, 'Product Orderning', 'Product not Borrado') }}
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4"> 
                    <label class="control-label">folder</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.folder }}
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4"> 
                    <label class="control-label">image</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.image }}
                        </span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">   
                    <label class="control-label">menu</label>
                    <div class="form-control">
                        <span class="input-xlarge uneditable-input">
                            {{ entity.menu }}
                        </span>
                    </div>
                </div>
            </div>

            <div role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#price" aria-controls="price" role="tab" data-toggle="tab">Price</a></li>
                    <li role="presentation"><a href="#modifierPrice" aria-controls="modifierPrice" role="tab" data-toggle="tab">Modifier Price</a></li>
                    <li role="presentation"><a href="#imagen" aria-controls="imagen" role="tab" data-toggle="tab">Imagen</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="price">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row" style="text-align:center;">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Nombre</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Amount</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <ul class="list-group">
                                            {% for price in entity.prices %}
                                                <li class="list-group-item">
                                                    {{ macrosPrice.prototipoPriceShow(price) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="modifierPrice">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row" style="text-align:center;">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Nombre</label>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <label>Amount</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <ul class="list-group">

                                            {% for price in entity.modifierPrices %}
                                                <li class="list-group-item">
                                                    {{ macrosPrice.prototipoPriceShow(price) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="imagen">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                                        <label>Cropped</label> </br> 
                                        {% if entity.image.filePathCropped is defined %}
                                            <img  src="{{ asset(entity.image.webPathCropped) }}" class="img-rounded" style=" width: 70%;"> 
                                        {% else %}
                                            <img  src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;"> 
                                        {% endif%}
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-6 ">
                                        <label>Source</label></br>
                                        {% if entity.image.filePathSource is defined %}
                                            <img  src="{{ asset(entity.image.webPathSource) }}" class="img-rounded" style=" width: 70%;">
                                        {% else %}
                                            <img  src="{{ asset('bundles/sistemairm/img/img_default.png') }}" class="img-rounded" style=" width: 70%;">
                                        {% endif%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <div class="col-lg-9">
        <div class="float-left col-lg-3">
            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">
            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
            </a>
        </div>
        <div class="float-left col-lg-3">{{ form(delete_form) }}</div>
    </div>
{% endblock %}
